body {
  margin: 0px;
  background-color: hsl(217, 28%, 15%) !important;
}

.sudoku-logo {
  height: 35px;
  width: 35px;
  color: #fcdab7;
  margin-top: 5px;
  margin-bottom: 0px;
}

.nav-logo {
  color: #28df99;
  font-size: 40px;
  padding: 3px !important;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.nav-logo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #87dfd6 !important;
}

.nav-logo:hover {
  color: rgb(194, 192, 192);
}

.main-heading {
  color: #28df99;
  padding: 0px;
  margin-left: 20px;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
}

.sub-box {
  background-color: #515070;
  border-bottom: 2px solid #515070;
  border-collapse: collapse;
}

.num_box {
  width: 45px;
  height: 45px;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: hsl(217, 28%, 15%);
  background-color: #d6e0f0;
}
.num_box:focus {
  outline: none;
}

.result {
  font-weight: bold;
  color: #28df99;
}

.main-table {
  background-color: #515070;
  border-collapse: collapse;
  border: 2px solid #515070;
  margin-top: 15px;
}

.main-div {
  min-height: 100vh;
  text-align: -webkit-center;
  position: relative;
}

.bg-image {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -999;
}

.sub-div {
  margin: auto;
}

.footer-text {
  color: #fff;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
  letter-spacing: 1px;
}

.solve,
.clear {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000 !important;
  color: hsl(217, 28%, 15%) !important;
  margin: 30px 30px 30px auto;
  width: 200px;
  border: 0px !important;
  background-image: linear-gradient(
    to right,
    #28df99 0%,
    #6cc7f5 51%,
    #28df99 100%
  ) !important;
}
.clear {
  margin: 30px auto 30px 30px;
}

.invalid_alert {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 478px) {
  .main-heading {
    font-size: 28px;
  }
  .main-table {
    margin-top: 50px;
  }
  .sub-box {
    border: 0px;
  }
  .nav-logo {
    font-size: 35px;
  }
  .num_box {
    width: 30px;
    height: 30px;
    border-right: 1px solid #515070;
  }
  .bg-image {
    visibility: collapse;
  }
  .result {
    font-size: 25px;
  }
  .solve,
  .clear {
    width: 150px;
    font-size: 15px !important;
    margin: 40px 25% auto;
  }
}
