
body {
  margin: 0px;
  background-color: hsl(217, 28%, 15%) !important;
}

.sudoku-logo {
  height: 35px;
  width: 35px;
  color: #fcdab7;
  margin-top: 5px;
  margin-bottom: 0px;
}

.nav-logo {
  color: #28df99;
  font-size: 40px;
  padding: 3px!important;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.nav-logo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #87dfd6!important;
}

.nav-logo:hover {
  color: rgb(194, 192, 192);
}

.main-heading {
  color: #28df99;
  padding: 0px;
  margin-left: 20px;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
}

.sub-box {
  background-color: #515070;
  border: none;
  border-collapse: collapse;
}

.num-box {
  width: 45px;
  height: 45px;
  border: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:hsl(217, 28%, 15%) ;
  background-color: #d6e0f0;
}
.num-box:focus{
  outline: none;
}

.result {
  font-weight: bold;
  color: #28df99;
}

.main-table {
  background-color: #515070;
  border-collapse: collapse;
  border: 2px solid #515070;
  margin-top: 15px;
}

.main-div {
  min-height: 100vh;
  text-align: -webkit-center;
  position: relative;
}

.bg-image {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -999;
}

.sub-div {
  margin: auto;
}

.footer-text {
  color: #fff;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
  letter-spacing: 1px;
}

.solve {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000!important;
  color: hsl(217, 28%, 15%)!important;
  margin: 30px auto;
  width: 200px;
  border: 0px !important;
  background-image: linear-gradient(to right, #28df99 0%, #6cc7f5 51%, #28df99 100%) !important;
}

@media screen and (max-width:478px) {
  .main-heading {
    font-size: 28px;
  }
  .nav-logo {
    font-size: 35px;
  }
  .num-box {
    width: 30px;
    height: 30px;
  }
  .result {
    font-size: 25px;
  }
  .solve {
    width: 100px;
    font-size: 15px!important;
  }
}